@import "fonts/fonts.css";
:root {
  --mainbg: #fff;
  --header: #F4C2C2;
  --sidebar: #B3EBF2;
  --main: #77DD77;
  --fill: white;
  --textborder: black;
  --button: #805EA2;
  --scrollbar: #fff;
  /*#e3679d*/
  }

html {
  background-image: url("imgs/bg.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ppg';
}
.container {
background-color:var(--mainbg);
display: grid;
border: 5px solid black;
margin: 50px;
padding: 10px;
width: 700px;
height: 600px;
border-radius: 10px;
grid-template-areas:
  'sidebar header'
  'sidebar main';
grid-template-columns: 20% 80%;
grid-template-rows: 20% 80%;
font-family: 'ppg';
}
.container > sidebar {
  grid-area: sidebar;
  background-color:var(--sidebar);
  border: 5px solid black;
  padding: 60px;
  border-radius: 10px;
}
.container > header {
  grid-area: header;
  background-color:var(--header);
  border: 5px solid black;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
   font-size: 36px;
  color: var(--mainbg);
}
.container > main {  
  grid-area: main;
  background-color:var(--main);
  border: 5px solid black;
  padding: 25px;
  margin: 50;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 10px;
  overflow-y : scroll;
  color: var(--fill);
  font-family: 'bubblegum';
  font-size: 36px;
}
header {
  color: var(--colorborder);
}
main {
  scrollbar-color: var(--scrollbar) var(--main);
}
sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 25px;
}
.pfp img {
  border-radius: 100px;
  width: 100px;
  border: 3px solid var(--fill);
  margin-top: 0px;
  grid-row: 1/1;
  grid-column: 1/1;
}
ul button {
  background-color: var(--fill);
  padding: 10px;
  border: 2px solid var(--mainbg);
  color: var(--button);
  border-radius: 10px;
  margin: 2px;
  font-family: 'bubblegum';
}
button:hover {
  background-color: var(--button);
  padding: 13px;
  border: 2px solid var(--button);
  color: var(--fill);
  border-radius: 10px;
  margin: 2px;
  font-family: 'bubblegum';
  transition-duration: .2s;
  box-shadow: 5px 7px 7px var(--fill);
}
#marqueewrap {
  white-space: nowrap;
  overflow: hidden;
}

#marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-120%);
  }
}

@media screen and (max-width: 400px) {
  .scaling {
      transform: scale(70%);
  }
}
.pfp {
  position: relative;
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.gif {
  display: block;
  width: 100%;
  height: auto;
}
.mojooverlay {
  position: absolute;
  bottom: 0;
}
